<!DOCTYPE html>
{% load static %}
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Sinh viên - Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="{% static 'css/image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/student_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/input_score.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

{% block content %}
    <div class="container">
        <div class="header">
            <div class="user-info">
                <div class="user-avatar">
                    <img src="{% static 'css/image/wibuavatar.jpg' %}"
                        alt="{{ nhanvien.hoten }}">
                </div>
                <div class="user-details">
                    <h2>{{ nhanvien.hoten }}</h2>
                    <p>{{ nhanvien.email }}</p>
                </div>
            </div>
            <a href="{% url 'logout' %}" class="logout-btn">Đăng xuất</a>
        </div>

        <div class="class-container">
            <div class="class-header">
                <h3 style="font-family: 'Genshin', sans-serif;">Dashboard</h3>
                <!-- <button class="add-class-btn">Thêm Lớp học</button> -->
            </div>

            <div class="class-grid">
                {% for class in classes %}
                <div class="class-card">
                    <h4>{{ class.ten }}</h4>
                    <p>Mã lớp: {{ class.malop }}</p>
                    <p>Số sinh viên: {{ class.student_count }}</p>
                    <div class="class-actions">
                        <button class="action-btn edit-btn">
                            <a href="{% url 'student_list' class.malop %}" style="text-decoration: none; color: inherit;">Xem chi tiết</a>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>